    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>APIAGRI</h2>
          </header>
          <p>Unindo <strong>Apicultura</strong> com <strong>Agricultura</strong>!</p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">Saiba Mais...</a></li>
            </ul>
          </footer>

        </div>

      </section>