<!DOCTYPE HTML>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="{{ SITEURL }}">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ DESCRIPTION }}" />
    <meta name="keywords" content="{{ KEYWORDS }}" />
    <meta name="robots" content="index, follow"/>
    <meta name="google-site-verification" content="D9aTjhyKnadq5dYSD6BCNm0QhTi6TLAhZaavF8d23xc" />

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <link rel="preconnect dns-prefetch" href="//cdnjs.cloudflare.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="//use.fontawesome.com" crossorigin>

    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="/theme/js/jquery.min.js"></script>
    <script src="/theme/js/jquery.dropotron.min.js"></script>
    <script src="/theme/js/modernizr-webp.js"></script>
    <script src="/theme/js/skel.min.js"></script>
    <script src="/theme/js/skel-layers.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/skel/2.2.1/skel.min.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/skel-layers/2.2.1/skel-layers.min.js"></script> -->
    <script src="/theme/js/init.js"></script>
    <link rel="stylesheet" href="/theme/css/bulma.min.css" media="all"/>
    <link rel="stylesheet" href="/theme/css/pygment.css" media="all"/>
    <link rel="stylesheet" href="/theme/css/style.css" media="all"/>
    <link rel="stylesheet" href="/theme/css/style-mobile.css" media="(max-width: 480px)"/>
    <noscript>
        <link rel="stylesheet" href="/theme/css/skel.css" media="all"/>
        <link rel="stylesheet" href="/theme/css/style-noscript.css" media="all"/>
    </noscript>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/png" href="/theme/images/abelha-icon.png"/>

    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}-Feed" />
    {% endif %}

    {% block head %}
    <title>{% block title %}{{ SITENAME }} {{ TAGLINE }}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,mininum-scale=1,initial-scale=1">

    {% endblock head %}
</head>

<body class="{% if page_name %}{{ page_name|sidebar }}{% endif %} loading">

    <!-- Header -->
    <header id="header" {% if page_name == 'index' %}class="alt"{% endif %}>
        <h1 class="logo">
            <a href="{{ SITEURL }}">
                <picture>
                    <source srcset="{{ SITELOGOWEBP }}" type="image/webp">
                    <img src="{{ SITELOGO }}"/>
                </picture>
            </a>
        </h1>
        <nav id="nav">
            <ul>
                <!-- <li class="current"><a href="index.html">Welcome</a></li> -->
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for page in pages %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                {% endif %}
                {% for title, link, class in MENUITEMS %}
                    {%if title == 'Blog' %}
                        <li><a href="{{ link }}" class="{{ class }}" target="_blank">{{ title }}</a></li>
                    {% else %}
                        <li><a href="{{ link }}" class="{{ class }}">{{ title }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if DISPLAY_BLOG_ON_MENU %}
                <li class="submenu">
                    <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Blog</a>
                    <ul>
                        {% for cat, null in categories %}
                            {% if cat != 'blog' %}
                            <li {% if cat == category %}class="active"{% endif %}>
                                <a href="{{ SITEURL }}/category/{{ cat|lower }}/">{{ cat }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                <!-- <li><a href="#cta" class="button special">Cadastre-se</a></li> -->
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    {% include 'footer.html' %}

</body>
</html>
