<!-- CTA -->
<section id="cta">
    <header>
        <h2>Quer ser um dos <strong>primeiros</strong> a usufruir desses benefícios?</h2>
        <p>Cadastre-se em nossa lista de espera!</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><a href="https://goo.gl/forms/bQgnQNYftpIKO85R2" target="_blank" class="button special">Sou Agricultor</a></li>
            <li><a href="https://goo.gl/forms/AYBPEQPriATNB25n2" target="_blank" class="button special">Sou Criador de Abelha</a></li>
        </ul>
    </footer>
</section>