<!-- Three -->
<section id="download" class="wrapper style3 container special download row">
  <div class="6u"><img src="/theme/images/apiagri-app.png" alt="" /></div>
  <div class="text-box 6u">
    <header>
      <h2>Baixe nosso <strong>novo Aplicativo</strong></h2>
    </header>
    <p>Entre já no mercado de polinização agrícola assistida contando com nossa plataforma digital e suporte</p>
    <p><strong>Baixe gratuitamente:</strong></p>
    <a href="{{ APPURL }}">
        <picture>
            <source srcset="/theme/images/googleplay.webp" type="image/webp">
            <img src="/theme/images/googleplay.png"/>
        </picture>
    </a>
  </div>
</section>
