
                    <article class="column is-4">
                    <a href="https://blog.apiagri.com/serie-polinizacao-agricola-promovida-por-abelhas-morango/" target="_blank"><div class="card">
                        <header  class="card-header">
                            <p class="card-header-title is-centered is-size-5">SÉRIE – Polinização agrícola promovida por abelhas: Morango</p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p class="is-size-6 has-text-justified">O morango A agricultura brasileira é uma das mais fortes e qualificadas do mundo. Como tal, ela vem gradativamente aderindo à tecnologia 4.0 para aumentar a eficiência e, consequentemente, a produtividade enquanto reduz desperdícios que gerariam enormes custos para o setor. Recursos tecnológicos incorporados a plataformas digitais, como os aplicativos para smartphones, têm revolucionado o [&#8230;]</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="subtitle is-7 card-footer-item"><time datetime="2019-03-11">Seg 11 Mar 12:26:31 2019</time></p>
                        </footer>
                    </div></a>
                    </article>
                    <article class="column is-4">
                    <a href="https://blog.apiagri.com/serie-polinizacao-agricola-promovida-por-abelhas/" target="_blank"><div class="card">
                        <header  class="card-header">
                            <p class="card-header-title is-centered is-size-5">SÉRIE – Polinização agrícola promovida por abelhas: Maçã</p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p class="is-size-6 has-text-justified">Maçã A agricultura brasileira é altamente tecnológica e uma das principais do mundo. Contudo, por mais inovação que se use no campo por meio de irrigação programada, uso de drones, defensivos agrícolas modernos, boa parte dela continua necessitando de algo primordial para dar certo, ou seja, abelhas. Uma baixa diversidade de insetos polinizadores ao redor [&#8230;]</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="subtitle is-7 card-footer-item"><time datetime="2019-02-08">Sex  8 Fev 01:24:10 2019</time></p>
                        </footer>
                    </div></a>
                    </article>