{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Webpage",
      "url": "https://www.apiagri.com",
      "name": "Apiagri",
      "headline": "Apiagri Homepage",
      "description": "Polinização Agrícola Assistida",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.apiagri.com"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Apiagri Desenvolvimento de Software LTDA.",
        "logo": {
          "url": "https://www.apiagri.com/images/logo.svg",
          "width": 175,
          "height": 60,
          "@type": "ImageObject"
        }
      },
      "image": {
        "@type": "ImageObject",
        "url": "https://www.apiagri.com/images/logo.png",
        "width": 120,
        "height": 63
      }
    }
    </script>
  {% endblock %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header id="oquee" class="special">
    <h2>
      <picture>
          <source srcset="images/abelha-icon.webp" type="image/webp">
          <img src="images/abelha-icon.png"/>
      </picture>
     O que é Apiagri?</h2>
    <p><strong>Apiagri é uma startup brasileira que tem como missão a promoção da polinização assistida no Brasil.</strong></p>
    <p>A <strong>Apiagri</strong> busca facilitar e impulsionar o mercado de serviços de polinização assistida, oferecendo uma plataforma onde agricultores podem alugar, ou adquirir, colônias de abelhas dos criadores de abelhas nas proximidades.</p>
    <p>Nesse cenário todos ganham: agricultores obtêm aumento da qualidade e quantidade da produção agrícola por meio da polinização; criadores de abelhas obtêm renda extra e novas floradas para dispor suas colônias; e a Apiagri obtêm subisídios para conscientização da importância da conservação das abelhas, principalmente as espécies nativas do Brasil!</p>
  </header>

  <header id="como" class="special special-alt">
      <h2>
        <picture>
          <source srcset="images/mobile-icon.webp" type="image/webp">
          <img src="images/mobile-icon.png"/>
        </picture>
      Como funciona?</h2>
      <p><strong>Por meio de um aplicativo móvel agricultores podem encontrar criadores de abelhas próximos que oferecem serviços de polinização assistida (aluguel de colônias) e realizar a contração desses serviços.</strong></p>
      <p>O aplicativo faz uso de uma tecnologia inovadora para realizar recomendações das espécies de abelhas mais adequadas para contração, com base no tipo da cultura agrícola, tamanho da área de cultivo, localização geográfica e época de floração. As recomendações incluem também a quantidade de colônias necessárias para garantir uma melhor cobertura da polinização e os locais adequados para posicionamento da colônias considerando as áreas florestais adjacentes e a localização de recursos necessários para garantia da saúde das colônias.</p>
      <p><strong>Os criadores de abelhas também recebem recomendações sobre a produção melífera de acordo com a cultura agrícola.</strong></p>
    </header>
  </article>

 </article>

{#% include 'download.html' %#}
{% include 'blog.html' %}
{% include 'team.html' %}
{% include 'register.html' %}


 <!-- Two -->
  <section class="wrapper style1 special">
    <div class="row">

      {% for article in articles_page.object_list %}
      <div class="4u">

        <section>
          <span class="icon feature fa-{{ article.icon }}"></span>
          <header>
            <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
          </header>
          <p>{{ article.content[:196]|striptags }}</p>
          <footer>
              <ul class="buttons">
                  <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Read More</a></li>
              </ul>
          </footer>
        </section>

      </div>
      {% endfor %}

    </div> <!-- /.row -->

    {% include 'pagination.html' %}

  </section> <!-- /section -->

{% endblock content %}
