{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <i class="icon fas fa-bullhorn"></i>
    <h2>O que é <strong>ApiAgri</strong>?</h2>
    <p>ApiAgri é uma startup brasileira que tem como missão a promoção da <u>polinização assistida</u> no Brasil!</p>
    <p>A ApiAgri busca facilitar e impulsionar o mercado de serviços de polinização assistida, oferecendo uma plataforma onde agricultores podem alugar, ou adquirir, colônias de abelhas dos criadores de abelhas nas proximidades.</p>
    <p>Nesse cenário todos ganham: agricultores obtêm aumento da qualidade e quantidade da produção agrícola por meio da polinização; criadores de abelhas obtêm renda extra e novas floradas para dispor suas colônias; e a ApiAgri obtêm subisídios para conscientização da importância da conservação das abelhas, principalmente as espécies nativas do Brasil!</p>
    <h2>O melhor: tudo isso totalmente de <stong>graça</stong>!</h2>
  </header>

  <!-- One -->
  <section class="wrapper style2 container special-alt">
    <div class="row half">
      <div class="8u">

        <header>
          <h2>Como funciona?</h2>
        </header>
        <p>Por meio de um aplicativo móvel agricultores podem encontrar criadores de abelhas próximos que oferecem serviços de polinização assistida (aluguel de colônias) e realizar a contração desses serviços.</p>
        <p>O aplicativo faz uso de uma tecnologia inovadora para realizar recomendações das espécies de abelhas mais adequadas para contração, com base no tipo da cultura agrícola, tamanho da área de cultivo, localização geográfica e época de floração. As recomendações incluem também a quantidade de colônias necessárias para garantir uma melhor cobertura da polinização e os locais adequados para posicionamento da colônias considerando as áreas florestais adjacentes e a localização de recursos necessários para garantia da saúde das colônias.</p>
        <p>Os criadores de abelhas também recebem recomendações sobre a produção melífera de acordo com a cultura agrícola.</p>
        <footer>
          <ul class="buttons">
            <li><a href="#" class="button">Saiba mais</a></li>
          </ul>
        </footer>

      </div>
      <div class="4u skel-cell-important">

        <ul class="feature-icons">
          <li><i class="icon fas fa-map-marker-alt"></i><span class="label"></span></span></li>
          <li><i class="icon fas fa-wifi"></i><span class="label">Feature 2</span></span></li>
          <li><i class="icon fas fa-lock-open"></i><span class="label">Feature 3</span></span></li>
          <li><i class="icon fas fa-leaf"></i><span class="label">Feature 4</span></span></li>
          <li><i class="icon fas fa-plug"></i><span class="label">Feature 5</span></span></li>
          <li><i class="icon fas fa-mobile-alt"></i><span class="label">Feature 6</span></span></li>
        </ul>

      </div>
    </div>
  </section>

  <!-- Two -->
  <section class="wrapper style1 container special">
    <div class="row">

      {% for article in articles_page.object_list %}
      <div class="4u">

        <section>
          <span class="icon feature fa-{{ article.icon }}"></span>
          <header>
            <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
          </header>
          <p>{{ article.content[:196]|striptags }}</p>
          <footer>
              <ul class="buttons">
                  <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Read More</a></li>
              </ul>
          </footer>
        </section>

      </div>
      {% endfor %}

    </div> <!-- /.row -->

    {% include 'pagination.html' %}

  </section> <!-- /section -->

</article>

{% include 'coolstuff.html' %}
{% include 'cta.html' %}

{% endblock content %}