<!-- CTA -->
<section id="cta" class="register container">
    <header>
        <h2>Quer ser um dos <strong>primeiros a usufruir desses benefícios?</strong></h2>
        <p><strong>Cadastre-se em nossa lista de espera!</strong></p>
    </header>
    <footer>
        <div class="row">
            <div class="6u farmer">
                <a href="https://goo.gl/forms/bQgnQNYftpIKO85R2" target="_blank" class="button special">Sou Agricultor</a>
            </div>
            <div class="6u beekeeper">
                <a href="https://goo.gl/forms/AYBPEQPriATNB25n2" target="_blank" class="button special">Sou Criador de Abelha</a>
            </div>
        </div>
    </footer>
</section>
